.card{
  width: 17rem;
  background-color: lightblue;
  border-radius: 1rem;
  margin: 0.5rem;
}

.pokemon-image{
  width: 85%;
  max-width: 15rem;
  max-height: 15rem;
}

.pokemonName{
  font-size: 2rem;
  font-weight: 500;
  line-height: 1rem;
}

.pokemonType{
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 0.3rem;
}